/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
   background-image: url('/assets/static_bg.jpg');
   color: white;
   margin: 0;
   height: 100%;
   position: relative;
   font-family: Nasalization;
 }

/* body {
  transition: background-color .5s;
} */

@font-face {
  font-family: AlarmClock;
  src: url('/assets/alarm_clock.ttf');
}

@font-face {
  font-family: Nasalization;
  src: url('/assets/nasalization.ttf');
}

.header {
  /* background-color: #131313; */
  text-shadow: 6px 6px black;
  background-size: 100% 100%;
  height: auto;
  background-image: url('/assets/0107.jpg');
  padding: 100px 0 100px 0;
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
}

.header h1{
  font-size: 100px;
}

#footer {
  background-color: #0a0a0a;
  padding: 10px 0 10px 0;
  text-align: center;
  color: white;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

button {
  font-family: Nasalization;
}

#footer-new {
  /* background-color: #131313; */
  padding: 10px;
  color: white;
  bottom: 0;
  right: 5px;
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.social-icon {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

.social-icon:hover {
  box-shadow: 2px 2px 2px white;
}

#main-content {
  text-align: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  width: 100%;
  transition: margin-left .5s;
}

#content-wrap {
  height: 100%;
}

.audio-btn {
  width: 80px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  border: 3px solid black;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 2px white;
  transition: 0.3s;
}

.audio-btn:hover {
  background-color: red;
}

#track-clock {
  font-family: AlarmClock;
  font-size: 30px;
  width: 300px;
  background-color: black;
  color: red;
  text-align: center;
  padding: 5px 5px 5px 5px;
  margin: 0 auto !important;
  border: 2px solid white;
}

/* sidenav */
#open-menu-btn {
  cursor: pointer;
  left: 30px;
  top: 20px;
  position: fixed;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  border: 2px solid white;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0a0a0a;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
